body{
    background-image: url('../src/beach.jpg') !important;
    background-size: cover !important;
}

body.pushable>.pusher{
    background-image: url('../src/beach.jpg') !important;
}

.border{
    border: 2px solid black;
}

.card{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.customBox{

	background-color: rgba(0,0,0,.3);
    position: absolute;
    width: 100%;
    top: 50%;
    margin-left: 0px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    transform: translate(0% , -50%);
    color:white;
}